body{
	background: #FFF url(../black/bg.jpg) repeat-x;
}

	body.sub{
		background: #FFF url(../black/sub.jpg) repeat-x;
	}
	
	body.sub_no_cap{
		background: #FFF url(../black/sub_no_cap.jpg) repeat-x;
	}