form.aspire {

  .input-type-text {
		width: 500px;
	  display: block;
	  background: #f8f8f8;
	  border: 1px solid #cfcfcf;
	  padding: 15px;
	  width: 500px;
	  margin: 10px 0 10px;
  }
  select {
    padding: 15px;
  }
  textarea {
		width: 500px;
    height: 100px;
    font: 12px 'Arial';
  }
  .input-button{
		background: #000;
		color: #FFF;
		padding: 13px;
		border:1px solid #cfcfcf;
		width: auto;
	}
}
