.clear { clear:both; }
td { vertical-align:top; }


.review {
  position:relative;
  a { position:absolute;display:block;width:100%;height:100%;border:none !important; }
  p { width: 390px; }
  img {
    position:absolute;top:10px;
    &.tipo      { right:94px; }
    &.corrigiu  { right:52px; }
    &.revisou   { right:10px; }
  }
}
.detalhes { clear:both; }
a.botao_revisao {
  &.corrigir  { background: #FF6; }
  &.aprovar   { background: #6F6; }
  &.reprovar  { background: #F66; }
  color: #111 !important;
  text-shadow: #fff 2px 2px 2px;
  box-shadow: #666 2px 2px 2px;
  margin-bottom:15px;
  width:60%;
  float:right;
  display:block;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  padding: 12px 20px 13px 20px;
  text-align:center;
}





table#project_show {
  width: 100%;
  td {
    font-size:16px;
    a { color:#00f; }
  }
  table.details {
    width: 100%;
    font-size: 16px;
    color: #333;
    margin: 20px 0;
    border: #CCC solid 1px;
    tr {
      td {
        border-bottom:#ccc solid 1px;padding:8px 15px;
        &.titulo { background:#fafafa;font-weight:bold;color:#222 }
        strong {
          font-size: 11px;
          &.cor_0 { color: darken(#FCC, 60%) }
          &.cor_1 { color: darken(#FCC, 60%) }
          &.cor_2 { color: darken(#FFC, 60%) }
          &.cor_3 { color: darken(#CFC, 60%) }
          &.cor_enviado_1 { color: darken(#CFC, 60%) }
        }
      }
      &:last-child td {border-bottom:none}
    }
  }
}

table#versoes {
  width:100%;
  > tbody > tr > td { width:50%; }
  table {
    margin-top:20px;width:500px;
    box-shadow:0 0 2px 1px #ccc;
    td {
      border:#ccc solid 1px;
      border-bottom-width: 0px;
      padding:20px;
      height:120px;
      &.left  { background:#fafafa;border-right:none; }
      &.right {
        a, span { border:#ccc solid 1px;border-radius:3px; padding: 10px;width:32px;height:32px; margin-right:10px;display:block;float:left; }
        form {
          textarea { width:366px !important; }
          p { margin-bottom:10px;padding-bottom:10px;border-bottom:#ccc solid 1px; height:30px; }
          div.direita { margin-top:20px;text-align:right }
        }
      }
      p { margin-bottom:20px }
    }
    tr:last-child td { border-bottom-width: 1px; }
  }
}

















