.clear { clear:both; }
td { vertical-align:top; }



table#cadastro_versoes {
  width: auto;
  td { padding-bottom:20px; }
  p { height:60px;margin-bottom:0;border-bottom:#efefef solid 1px;padding: 10px 0; }
  textarea { width:100%; }
  
	form button:hover,
	form button:focus {
		background: #800;
	}
}

.versao {
  position: relative;
  
  background:#fff;border: #999 solid 1px;padding:20px;border-radius:10px;
  margin-top:50px;
	-moz-box-shadow:0 0 20px 5px #000;
	-webkit-box-shadow: 0 0 20px #000;
	
  td { height:40px; }
  a { border:none;display:block;color:#00f; }
  .actions {
    input, select {
      padding:10px;font-weight:bold;font-size:16px;margin-right:32px;
    }
  }
}



.review {
  position:relative;
  a { position:absolute;display:block;width:100%;height:100%;border:none !important; }
  p { width: 390px; }
  img {
    position:absolute;top:10px;
    &.tipo      { right:94px; }
    &.corrigiu  { right:52px; }
    &.revisou   { right:10px; }
  }
}
.detalhes { clear:both; }
a.botao_revisao {
  &.corrigir  { background: #FF6; }
  &.aprovar   { background: #6F6; }
  &.reprovar  { background: #F66; }
  color: #111 !important;
  text-shadow: #fff 2px 2px 2px;
  box-shadow: #666 2px 2px 2px;
  margin-bottom:15px;
  width:60%;
  float:right;
  display:block;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  padding: 12px 20px 13px 20px;
  text-align:center;
}





table#project_show {
  width: 100%;
  td {
    font-size:16px;
    a { color:#00f; }
  }
}
