.clear { clear:both; }
td { vertical-align:top; }


@mixin review($color) {
  color: darken($color, 60%) !important;
}
.review {
  position:relative;
  
  border-bottom: #ccc solid 1px;
  margin: 0;
  display:inline-block;width:100%;
  font-size: 11px;
  &:hover   { border-bottom: #999 solid 1px;background:#fafafa; }
  &.notice  { @include review(#CFC); }
  &.alert   { @include review(#FFC); }
  &.error   { @include review(#FCC); }
  a.botao_revisao {
    position:absolute;top:40px;right:10px;
  }
  p { width: 390px;min-height:100px;margin: 10px; }
  img {
    position:absolute;top:10px;
    &.tipo      { right:72px; }
    &.corrigiu  { right:36px; }
    &.revisou   { right:10px; }
  }
}
.detalhes { clear:both; }
a.botao_revisao {
  padding:5px 0;width:120px;text-align:center;
  display:block;
  box-shadow: #ccc 2px 2px 1px;
  border:#efefef solid 1px;
  border-radius:5px;
  background:#fff;
  &.corrigir { color: #990 !important;  }
  &.aprovar  { color: green !important;  }
  &.reprovar { color: red !important; top:80px; }
  img { position:static; }
}
.revisao_objetiva {
  margin: 20px;
  a { float:right;width:200px;margin:20px 0; }
}



table#project_show {
  width: 100%;
  td {
    font-size:16px;
    a { color:#33f; }
  }
  table.details {
    width: 100%;
    font-size: 16px;
    color: #333;
    margin: 20px 0;
    tr {
      td {
        border-bottom:#ccc solid 1px;padding:8px 15px;
        &.titulo { background:#fafafa;font-weight:bold;color:#222 }
        strong {
          font-size: 11px;
          &.cor_0 { color: darken(#FCC, 60%) }
          &.cor_1 { color: darken(#FCC, 60%) }
          &.cor_2 { color: darken(#FFC, 60%) }
          &.cor_3 { color: darken(#CFC, 60%) }
          &.cor_enviado_1 { color: darken(#CFC, 60%) }
        }
      }
      &:last-child td {border-bottom:none}
    }
  }
}

table#versoes {
  width:100%;
  > tbody > tr > td { width:50%; }
  table {
    margin-top:20px;width:500px;
    box-shadow:0 0 2px 1px #ccc;
    td {
      border:#ccc solid 1px;
      border-bottom-width: 0px;
      padding:20px;
      height:120px;
      &.left  { background:#fafafa;border-right:none; }
      &.right {
        a, span { border:#ccc solid 1px;border-radius:3px; padding: 10px;width:32px;height:32px; margin-right:10px;display:block;float:left; }
        form {
          textarea { width:366px !important; }
          p { margin-bottom:10px;padding-bottom:10px;border-bottom:#ccc solid 1px; height:30px; }
          div.direita { margin-top:20px;text-align:right }
        }
      }
      p { margin-bottom:20px }
    }
    tr:last-child td { border-bottom-width: 1px; }
  }
}

















