<% set_page_css(:full) %>
<% content_for :jsload do %>  
  $( "#tabs" ).tabs();
  
  $("form").submit(function(){
    $("input:submit").hide();
    $(".enviando").fadeIn(1200);
  });
<% end %>

<div class="verso-ui">
  <table id="project_show">
    <tbody>
      <tr>
        <td style="padding-right:50px">
          <%= render @project %>
        </td>
        <td width="600">
          
          <div id="tabs">
	          <ul>
		          <li><a href="#tabs-1">Revisões</a></li>
		          <li><a href="#tabs-2">Arquivos</a></li>
	          </ul>
	          <div id="tabs-1">
              <%= render 'reviews' %>
	          </div>
	          <div id="tabs-2">
		          <%= render 'files' %>
	          </div>
          </div>
        
        
        </td>
      </tr>
    </tbody>
  </table>
</div>

