body{
	background: #FFF url(../red/bg.jpg) repeat-x;
}

	body.sub{
		background: #FFF url(../red/sub.jpg) repeat-x;
	}
	
	body.sub_no_cap{
		background: #FFF url(../red/sub_no_cap.jpg) repeat-x;
	}
	
	#page ul#entries li .entry small a, .entry p a, #container ul.quick_links li a.more {color:#c40000;}