<center>
  <%= link_to "Download SWF (#{number_to_human_size(@paperclip.size)})", @paperclip.url %>
</center>
<div style="text-align:center;padding:20px 0;">
  <object width='800' height='600'
    classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000'
    codebase='http://fpdownload.macromedia.com/
    pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0'
    >
      <param name='SRC' value='%= @paperclip.url %>'>
      <param name='wmode' value='opaque'/>
      <embed src='<%= @paperclip.url %>' wmode='opaque' width='800' height='600'></embed>
  </object>
</div>
