
			<h1>Blog</h1>
		
			<div class="blogPost">
			
				<h2><a href="blog_post.html">Blog title #1</a></h2>
				
				<p class="blogImage"><span>23 July</span> <a href="blog_post.html"><img src="assets/temp/blog_1.jpg" alt="" /></a></p>
			
				<p>Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor.</p>

			</div>
			
			<div class="blogPost">
			
				<h2><a href="blog_post.html">Blog title #2</a></h2>
				
				<p class="blogImage"><span>23 July</span> <a href="blog_post.html"><img src="assets/temp/blog_5.jpg" alt="" /></a></p>
			
				<p>Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor.</p>

			</div>
			
			<div class="blogPost">
			
				<h2><a href="blog_post.html">Blog title #3</a></h2>
				
				<p class="blogImage"><span>23 July</span> <a href="blog_post.html"><img src="assets/temp/blog_8.jpg" alt="" /></a></p>
			
				<p>Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor.</p>

			</div>
			
			<div class="blogPost">
			
				<h2><a href="blog_post.html">Blog title #4</a></h2>
				
				<p class="blogImage"><span>23 July</span> <a href="blog_post.html"><img src="assets/temp/blog_15.jpg" alt="" /></a></p>
			
				<p>Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Proin metus tortor, consectetur sit amet mattis id, lobortis sed leo. Vivamus sem ligula, eleifend nec rutrum ac, vehicula at massa. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor. Quisque fermentum velit ac nibh hendrerit ultricies eget nec tortor.</p>

			</div>
		
			<ul class="pagination">
				<li><a href="#">1</a></li>
				<li class="selected"><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">6</a></li>
			</ul>
		
