
			<div>

				<h2>Search the site</h2>

				<form class="searchBox" action="." method="post">
				
					<div>
					
						<input type="text" class="hint" title="Type here...">
					
						<button><span>Search</span></button>
						
					</div>
					
				</form>

			</div>
			
			<div>

				<h2>Categories</h2>
			
				<dl>
					<dt><a href="#">Feature</a></dt>
					<dd>122</dd>
					<dt><a href="#">Film</a></dt>
					<dd>58</dd>
					<dt><a href="#">Oscars</a></dt>
					<dd>8</dd>
					<dt><a href="#">Soundtrack</a></dt>
					<dd>12</dd>
					<dt><a href="#">TV</a></dt>
					<dd>19</dd>
				</dl>

			</div>

			<div>

				<h2>Recent Posts</h2>
			
				<ul>
					<li><a href="#">Star Wars Blu-ray Confirmed</a></li>
					<li><a href="#">Avatar breaks DVD record</a></li>
					<li><a href="#">Next Batman Won't Be in 3D</a></li>
					<li><a href="#">New James Bond put on hold</a></li>
					<li><a href="#">Transformers 3 in the works?</a></li>
				</ul>

			</div>
			
			<ul class="adverts">
				<li><a href="#"><img src="http://placehold.it/125x125/000000/999999/" alt="" width="125" height="125" /></a></li>
				<li><a href="#"><img src="http://placehold.it/125x125/000000/999999/" alt="" width="125" height="125" /></a></li>
				<li><a href="#"><img src="http://placehold.it/125x125/000000/999999/" alt="" width="125" height="125" /></a></li>
				<li><a href="#"><img src="http://placehold.it/125x125/000000/999999/" alt="" width="125" height="125" /></a></li>
			</ul>

