#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}


#footer { margin-top:100px; }


td { vertical-align:top; }


ul.pagination li.selected a {
  color: #fff;
  background: #333;
  font-weight: bold;
  border: 1px outset #666 !important;
}



.simple_overlay .margin {
  margin: 40px;
}


table#cadastro_versoes {
  p { height:60px;margin-bottom:0;border-bottom:#efefef solid 1px;padding: 10px 0; }
  textarea { width:350px; }
	form button:hover,
	form button:focus {
		background: #800;
	}
}

.versao {
  position: relative;
  
  background:#fff;border: #999 solid 1px;padding:20px;border-radius:10px;
  margin-top:50px;
	-moz-box-shadow:0 0 20px 5px #000;
	-webkit-box-shadow: 0 0 20px #000;
	
  td { height:40px; }
  a { border:none;display:block;color:#00f; }
  .actions {
    input, select {
      padding:10px;font-weight:bold;font-size:16px;margin-right:32px;
    }
  }
}


table#project_show td {
  font-size:16px;
  a { color:#00f; }
}


ul.work li p {
  margin: 10px 0 0 0;
  font-size:16px;
  &.sequencia { font-size:32px; }
}
a.gallery {
  height:300px;
  color: #da0000;
  &:hover { color:#9a0000; }
}


.error_messages {
  width: 400px;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  color: #c00;
}

.error_messages h2 {
  padding: 5px 10px;
  color: #c00;
  background: none !important;
}

.error_messages p {
  margin: 8px 10px;
  text-decoration: underline;
}

.error_messages ul {
  margin: 0;
}
