#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}



td { vertical-align:top; }



.simple_overlay .margin {
  margin: 40px;
}
.simple_overlay #new_project_version textarea {
  width:900px;
}


table#project_show td {
  font-size:16px;
  a { color:#00f; }
}


ul.work li p {
  margin: 10px 0 0 0;
  font-size:16px;
  &.sequencia { font-size:32px; }
}
a.gallery {
  height:300px;
  color: #da0000;
  &:hover { color:#9a0000; }
}


.error_messages {
  width: 400px;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  color: #c00;
}

.error_messages h2 {
  padding: 5px 10px;
  color: #c00;
  background: none !important;
}

.error_messages p {
  margin: 8px 10px;
  text-decoration: underline;
}

.error_messages ul {
  margin: 0;
}
