td { vertical-align:top; }

table#project_show td {
  font-size:16px;
  a { color:#00f; }
}


.error_messages {
  width: 400px;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  color: #c00;
}

.error_messages h2 {
  padding: 5px 10px;
  color: #c00;
  background: none !important;
}

.error_messages p {
  margin: 8px 10px;
  text-decoration: underline;
}

.error_messages ul {
  margin: 0;
}
