<% title "Animation Versions" %>

<table>
  <tr>
    <th>Animation</th>
    <th>User</th>
    <th>Texto</th>
  </tr>
  <% for animation_version in @animation_versions %>
    <tr>
      <td><%= animation_version.animation %></td>
      <td><%= animation_version.user %></td>
      <td><%= animation_version.texto %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Animation Version", new_animation_version_path %></p>
